<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="org.rfcx.guardian.admin">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- 	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <!--  	<uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!--  	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <!-- 	<uses-permission android:name="android.permission.CAMERA" /> -->

    <!-- 	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" /> -->
    <!-- 	<uses-feature android:name="android.hardware.Camera" android:required="false" /> -->

    <uses-permission android:name="org.rfcx.guardian.READ" />
    <uses-permission android:name="org.rfcx.guardian.WRITE" />
    <permission android:name="org.rfcx.guardian.READ" android:protectionLevel="signature" />
    <permission android:name="org.rfcx.guardian.WRITE" android:protectionLevel="signature" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_admin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:name=".RfcxGuardian"
    >

        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Services -->
        <service android:name=".device.android.capture.DeviceScreenShotCaptureService" />
        <service android:name=".device.android.capture.DeviceLogCatCaptureService" />
        <service android:name=".device.android.control.RebootTriggerJobService" />
        <service android:name=".device.android.control.AirplaneModeToggleService" />
        <service android:name=".device.android.control.AirplaneModeEnableService" />
        <service android:name=".device.android.control.DateTimeSntpSyncJobService" />
        <service android:name=".device.sentinel.DeviceSentinelService" />

        <!-- IntentServices -->
        <service android:name=".ServiceMonitor" />
        <service android:name=".device.android.control.ScheduledRebootService" />
        <service android:name=".device.android.control.ForceRoleRelaunchService" />
        <service android:name=".device.android.capture.ScheduledScreenShotCaptureService" />
        <service android:name=".device.android.capture.ScheduledLogCatCaptureService" />


        <!-- Broadcast Receivers -->

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--  				<category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BluetoothStateReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Content Providers -->

        <provider
                android:name="org.rfcx.guardian.admin.contentprovider.AdminContentProvider"
                android:authorities="org.rfcx.guardian.admin"
                android:readPermission="org.rfcx.guardian.READ"
                android:writePermission="org.rfcx.guardian.WRITE"
                android:exported="true" />

    </application>

</manifest>
