<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rfcx.guardian"
    android:versionCode="0"
    android:versionName="0.4.32"
    >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.SET_TIME_ZONE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.rfcx.guardian.RfcxGuardian"
        >
        
        <!-- Services -->
        <service android:name="org.rfcx.guardian.service.DeviceStateService" />
        <service android:name="org.rfcx.guardian.service.AudioCaptureService" />
        <service android:name="org.rfcx.guardian.service.ApiCheckInService" />
        <service android:name="org.rfcx.guardian.service.CarrierCodeService" />
        <!-- IntentServices -->
        <service android:name="org.rfcx.guardian.intentservice.ApiCheckInTrigger" />
        <service android:name="org.rfcx.guardian.intentservice.AudioEncode" />
        <service android:name="org.rfcx.guardian.intentservice.ServiceMonitor" />
        <service android:name="org.rfcx.guardian.intentservice.CarrierCodeTriggerTopUp" />
        <service android:name="org.rfcx.guardian.intentservice.CarrierCodeTriggerBalance" />
        
        <activity
            android:name="org.rfcx.guardian.activity.PrefsActivity"
            android:label="@string/menu_prefs" />
        
        <activity
            android:name="org.rfcx.guardian.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="org.rfcx.guardian.receiver.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
        <receiver android:name="org.rfcx.guardian.receiver.SmsReceiver">
    		<intent-filter>
        		<action android:name="android.provider.Telephony.SMS_RECEIVED" />
   			</intent-filter>
		</receiver>

    </application>

</manifest>