<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="org.rfcx.guardian.admin"
        android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->

    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SHUTDOWN" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DEVICE_POWER" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature" tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="org.rfcx.guardian.READ" />
    <uses-permission android:name="org.rfcx.guardian.WRITE" />
    <permission android:name="org.rfcx.guardian.READ" android:protectionLevel="signature" />
    <permission android:name="org.rfcx.guardian.WRITE" android:protectionLevel="signature" />

    <application
            android:label="@string/app_name"
            android:name=".RfcxGuardian"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_admin"
            android:theme="@style/AppTheme">

        <!-- Activities -->

        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Services -->
        <service android:name=".device.android.capture.ScreenShotCaptureService" />
        <service android:name=".device.android.capture.LogcatCaptureService" />
        <service android:name=".device.android.capture.CameraCaptureService" />
        <service android:name=".device.android.control.RebootTriggerService" />
        <service android:name=".device.android.control.AirplaneModeToggleService" />
        <service android:name=".device.android.network.WifiStateSetService" />
        <service android:name=".device.android.network.BluetoothStateSetService" />
        <service android:name=".device.android.control.ClockSyncJobService" />
        <service android:name=".device.android.system.DeviceSystemService" />
        <service android:name=".device.i2c.DeviceI2cService" />
        <service android:name=".comms.sms.SmsDispatchCycleService" />
        <service android:name=".comms.sbd.SbdDispatchService" />
        <service android:name=".comms.sbd.SbdDispatchCycleService" />
        <service android:name=".comms.sbd.SbdDispatchTimeoutService" />
        <service android:name=".comms.swm.SwmDispatchService" />
        <service android:name=".comms.swm.SwmDispatchCycleService" />
        <service android:name=".comms.swm.SwmDiagnosticService" />
        <service android:name=".companion.CompanionSocketService" />

        <!-- IntentServices -->
        <service android:name=".ServiceMonitor" />
        <service android:name=".asset.ScheduledAssetCleanupService" />
        <service android:name=".device.android.network.ADBStateSetService" />
        <service android:name=".device.android.network.SSHStateSetService" />
        <service android:name=".device.android.control.AirplaneModeSetService" />
        <service android:name=".device.android.control.ForceRoleRelaunchService" />
        <service android:name=".device.android.control.ScheduledRebootService" />
        <service android:name=".device.android.capture.ScheduledScreenShotCaptureService" />
        <service android:name=".device.android.capture.ScheduledLogcatCaptureService" />
        <service android:name=".device.android.capture.ScheduledCameraCaptureService" />
        <service android:name=".device.android.control.ScheduledClockSyncService" />
        <service android:name=".device.android.control.SystemSettingsService" />
        <service android:name=".device.android.control.SystemCPUGovernorService" />
        <service android:name=".status.StatusCacheService" />

        <!--                     -->
        <!-- START: SMS settings -->
        <!--                     -->
        <service
                android:name="org.rfcx.guardian.admin.comms.sms.SmsDispatchService"
                android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <receiver
                android:name="org.rfcx.guardian.admin.comms.sms.SmsReceiver"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
                android:name="org.rfcx.guardian.admin.comms.sms.MmsReceiver"
                android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>


        <activity android:name="org.rfcx.guardian.admin.comms.sms.ComposeSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <!--                    -->
        <!-- END: SMS settings  -->
        <!--                    -->

        <!-- Receivers -->
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Content Providers -->
        <provider
                android:name=".contentprovider.AdminContentProvider"
                android:authorities="org.rfcx.guardian.admin"
                android:readPermission="org.rfcx.guardian.READ"
                android:writePermission="org.rfcx.guardian.WRITE"
                android:grantUriPermissions="true"
                android:exported="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths" />
        </provider>

<!--        <provider-->
<!--                android:name="androidx.core.content.FileProvider"-->
<!--                android:authorities="org.rfcx.guardian.admin"-->
<!--                android:readPermission="org.rfcx.guardian.READ"-->
<!--                android:writePermission="org.rfcx.guardian.WRITE"-->
<!--                android:grantUriPermissions="true"-->
<!--                android:exported="true">-->
<!--            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths" />-->
<!--        </provider>-->

    </application>

</manifest>
